* {
    margin: 0;
}

.side-panel{
    width: 12%;
    height: 99vh;
}
.side-panel .side-tab{
    cursor: pointer;
}
.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: auto auto auto;
    
    padding-left: 5rem;
    margin-top: 3rem;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 10rem;
    padding-right: 12rem;
    padding-left: 12rem;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
}
.grid-item a{
    text-decoration: none;
}